* {
  margin: 0;
  padding: 0;
}
body {
  height: 70%;
  width: 98%;
  margin: 16px;
  font-family: arial;
  font-size: 16px;
  color: #fff;
}
.lavagna {
  background-image: url(../img/ardesia.jpg);

  border-image: url(../img/legno.jpg) 30 / 30px round;
}
h2,
p {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 200%;
}
ul,
li {
  list-style: none;
}
ul {
  overflow: hidden;
  padding: 60px;
}
ul li a {
  background: #ffc;
  display: block;
  height: 240px;
  width: 220px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 16px;
  text-decoration: none;
  color: #000;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: transform 0.15s linear;
}
ul li {
  margin: 16px;
  float: left;
}
ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}
ul li p {
  font-family: cursive;
  font-size: 180%;
}
ul li a {
  transform: rotate(-6deg);
}
ul li:nth-child(1) a {
  position: relative;
  top: 5px;
  background-image: linear-gradient(#fadddd, #ffbdbd, #d48686);
  transform: rotate(6deg);
}
ul li:nth-child(2) a {
  position: relative;
  top: 10px;
  transform: rotate(5deg);
}
ul li:nth-child(3) a {
  position: relative;
  top: -5px;
  background: #ffbdbd;
  transform: rotate(-3deg);
}

ul li:nth-child(4) a {
  position: relative;
  top: -5px;
  background: #ccf;
  background-image: linear-gradient(
    rgb(177, 177, 212),
    #ccf,
    rgb(229, 229, 252)
  );
  transform: rotate(6deg);
}
ul li:nth-child(5) a {
  position: relative;
  top: 5px;
  background: #cfc;
  transform: rotate(6deg);
}
ul li:nth-child(6) a {
  position: relative;
  top: -5px;
  background: #ffbdbd;
  transform: rotate(-3deg);
}
ul li:nth-child(7) a {
  position: relative;
  top: 5px;
  background: #cfc;
  transform: rotate(6deg);
}
ul li:nth-child(8) a {
  position: relative;
  top: -5px;

  background-image: linear-gradient(
    rgb(229, 229, 252),
    #ccf,
    rgb(177, 177, 212)
  );

  transform: rotate(6deg);
}

ul li:nth-child(9) a {
  position: relative;
  top: -5px;
  background-image: linear-gradient(#fadddd, #ffbdbd, #d48686);
  transform: rotate(-3deg);
}
ul li:nth-child(10) a {
  position: relative;
  top: 10px;
  transform: rotate(5deg);
}
ul li a:hover,
ul li a:focus {
  position: relative;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}
